.c{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 50px;
}


.c-bg{
    width: 20px;
    height: 100%;
    background-color: #59b256;
    position: absolute;
}

.c-wrapper{
    padding: 50px;
    display: flex;
    flex-direction: column;
}

.c-left{
    flex: 1;
}

.c-right{
    flex: 1;
}

.c-title{
    font-size: 30px;
    width: 100%;
}

.c-info-item{
    display: flex;
    align-items: center;
    margin: 40px 0;
}

.c-info-item a {
    font-size: 15px;
    color: #555;
    text-decoration: none;
}
.c-info-item a:hover{
    color: #000;
    text-decoration: underline;
}

.c-icon{
    width: 20px;
    height: 20px;
    margin-right: 20px;
}

.c-desc{
    padding: 10px;
    font-size: 17px;
    font-weight: 200;
}

form{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: left;
}

input {
    font-size: 13px;
    width: 100%;
    height: 50px;
    margin: 20px 0;
    border: none;
    outline: none;
    border-bottom: 1px solid #000;
    padding: 10px;
}

textarea{
    padding: 10px;
    font-size: 13px;
    margin: 20px 0;
}

button {
    margin: 20px 0;
    padding: 10px 0;
    font-size: 13px;
    background-color: #088;
    color: #fff;
    cursor: pointer;
    border: none;
    transition: all 0.5s ease;
}

button:hover{
    background-color: rgb(13, 24, 34);
}

.done-msg{
    font-style: italic;
    color: midnightblue;
    text-shadow: 5px 5px 15px dodgerblue;
}

/* || PC VIEW */
@media screen and (min-width: 992px) {
    .c{
        flex-direction: row;
        align-items: center;

    }
    .c-wrapper{
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
    }
    .c-title{
        font-size: 50px;
        width: 80%;
    }

    .c-desc{
        font-size: 20px;
    }
    
    form{
        margin-top: 15px;
        display: flex;
        flex-direction: column;
        align-items: left;
    }
    
    input {
        font-size: 16px;
    }
    
    textarea{
        font-size: 16px;
    }
    
    button {
        margin-top: 0;
        padding: 10px 0;
        font-size: 16px;
    }
}