
.i-main{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 150vh;
}

.i-right{
    height: 50%;
    position: relative;
}

.i-left{
    height: 50%;
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.i-left-wrapper{
    padding: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.i-name-first{
    font-size: 20px;
    font-weight: 300;
}

.i-name{
    font-size: 25px;
}

.i-title{
    height: 30px;
    overflow: hidden;
}

.i-title-wrapper{
    height: 100%;
    animation: move 10s ease-in-out 0s infinite alternate forwards;
}

@keyframes move {
    25%{
        transform: translateY(-50px);
    }
    50%{
        transform: translateY(-100px);
    }
    25%{
        transform: translateY(-150px);
    }
    100%{
        transform: translateY(-200px);
    }
}

.i-title-item{
    height: 60px;
    font-size: 20px;
    font-weight: bold;
    color: #59b256;
    display: flex;
    align-items: center;
}

.i-desc{
    font-size: 18px;
    width: 80%;
    text-align: justify;
}

.i-right-bg{
    clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
    background-color: #59b256;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}

.i-right-img{
    width: 80%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    bottom: 0;
    right: 0;
}

.i-scroll{
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 20px;
}

/* || TABLET VIEW */
@media screen and (min-width: 768px) {
    
    .i-main{
        height: 100vh;
    }
    .i-left{
        height: 40%;
        padding-top: 0px;
    }
    .i-right{
        height: 60%;
        position: relative;
    }
}

/* || PC VIEW */
@media screen and (min-width: 992px) {
    
.i-main{
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.i-right{
    height: 100%;
    flex: 1;
}

.i-left{
    flex: 1;
    height: 100%;
}

.i-name-first{
    font-size: 50px;
}

.i-name{
    font-size: 80px;
}

.i-title{
    height: 50px;
    overflow: hidden;
}

.i-title-item{
    font-size: 50px;
}

.i-desc{
    font-size: 25px;
}

}