.t{
    width: 70px;
    height: 30px;
    border: 1px solid #999;
    border-radius: 20px;
    background-color: #fff;
    position: fixed;
    top: 10px;
    right: 20px;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.t-icon{
    width: 20px;
    height: 20px;
}

.t-button{
    width: 35px;
    height: 30px;
    border-radius: 20px;
    background-color: firebrick;
    position: absolute;
    cursor: pointer;
    left: 0;
}